.starting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
};

.starting-btn {
    width: fit-content;
    margin-top: 20px;
};

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   height: fit-content;
}